﻿<div class="layout">
  <main class="shadow">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <h1 class="mb-2">Авторизация</h1>

      <label for="name"></label>
      <input class="form-control" formControlName="username" id="name" placeholder="Имя пользователя" type="text">

      <label for="password"></label>
      <input class="form-control mb-3" formControlName="password" placeholder="Пароль" id="password" type="password">

      <button class="btn btn-lg btn-primary w-100" type="submit" [disabled]="form.invalid">Авторизация</button>
<!--      <p class="mt-5 text-muted"></p>-->
    </form>
  </main>
</div>
