@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../assets/fonts/Roboto-Light.ttf');
}

$primary-color: #3c5d80;

//main-settings
.relative {
  position: relative;
}

.layout {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', sans-serif;
}

.navbar {
  position: fixed;
  padding: 8px 16px;
  background-color: #000000;
  z-index: 999;
  border-bottom: 1px solid #9ccef9;
  width: 100%;
  min-height: 60px;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar-lg {
  display: flex;
}

.open {
  display: none;
  padding: 0 1rem;
  color: #c2c2c2;
  cursor: pointer;
}

.toolbar-button {
  cursor: pointer;
  text-align: center;
  color: #c2c2c2;
  padding: 0 12px;
  float: left;
  transition: 300ms all ease;
}

.toolbar-button:hover {
  color: #ffffff;
  background-color: #0e0e0e;
  cursor: pointer;
}

.toolbar-button.active {
  color: #3c5d80;
}

.toolbar-button svg {
  height: 21px;
  width: 21px;
}

.toolbar-button-label {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}

.rounded-button {
  display: flex;
  height: 28px;
  background-color: #16202b;
  color: #91b9cd;
  padding: 0 20px;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  border: 3px solid $primary-color;
  transition: all 0.3s;
}

.rounded-button:hover {
  background-color: $primary-color;
}

.rounded-button.active {
  background-color: $primary-color;
  transition: all 0.3s;
}

.rounded-button-svg {
  height: 15px !important;
  width: 15px !important;
}

.toolbar-menu {
  display: none;
  border: 1px solid #9ccef9;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #000000;
  position: absolute;
  left: 17.5rem;
  top: 4rem;
  z-index: 2;
  animation: fadeIn 100ms ease-in both;
}

.dropdown-menu {
  min-width: 0;
  width: fit-content;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.content-layout {
  margin-top: 67px;
  width: 100%;
  height: calc(100vh - 67px);
}

.dcm-layout {
  width: 100%;
  height: 100%;
}

.dicom {
  width: 100%;
  height: 100%;
  border: 1px solid #9ccef9;
}

//sidebars
.sidebar {
  overflow-y: auto;
  width: 250px;
  position: fixed;
  top: 67px;
  left: 0;
  bottom: 0;
  max-height: calc(100vh - 67px);
  background: #000000;
  color: #fff;
  transition: all 0.3s;
  border: 1px solid #9ccef9;
  padding: 0 5px;
  margin-left: -250px;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
}

.measurements {
  font-family: 'Roboto-Light', sans-serif;
  overflow-y: auto;
  width: 250px;
  position: fixed;
  top: 67px;
  right: 0;
  bottom: 0;
  max-height: calc(100vh - 67px);
  background: #000000;
  color: #fff;
  transition: all 0.3s;
  border: 1px solid #9ccef9;
  padding: 0 5px;
  margin-right: -250px;
}

.table-list {
  background-color: #151a1f;
  display: flex;
}

.table-list-header {
  color: #91b9cd;
  font-size: 22px;
  font-weight: 300;
  line-height: 63px;
  padding: 0 10px;
  text-align: left;
  flex: 1;
}

.table-list-number {
  color: #6fbde2;
  float: right;
  font-weight: 300;
  font-size: 40px;
  max-width: 54px;
  height: 63px;
  line-height: 66px;
  flex: 1;
}

.table-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #9ccef9;
}

.layoutChooser {
  padding: 5px 4px;
}

.hover {
  background-color: dodgerblue;
}

.dcm-series {
  height: 160px;
  margin-top: 15px;
  border: 1px solid #9ccef9;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

}

//ngClasses
.showSidebar {
  margin-left: 0;
}

.hideSidebar {
  margin-left: -250px;
}

.showMes {
  margin-right: 0;
}

.hideMes {
  margin-right: -250px;
}

@media (max-width: 992px) {
  .open {
    display: block;
    z-index: 2;
  }

  .hide {
    display: none;
  }

  .navbar-nav {
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    background: linear-gradient(to left top, #0c0c0c, $primary-color);
    text-align: center;
    z-index: 1;
    transition: 600ms all ease-in-out;
  }

  //ngClass
  .nav-active {
    right: 0;
  }

  .navbar-nav li {
    width: 100%;
  }

  .navbar-lg {
    display: block;
  }

  .toolbar-menu {
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .toolbar-menu div {
    width: 100%;
    display: inline-block;
  }

  .dropdown-menu {
    margin: 0 auto;
  }

}

@media (max-width: 576px) {
  .navbar-nav {
    width: 100%;
  }
}
