<div class="main">
  <div class="list-header">
    <div class="container d-flex align-items-center">
      <div class="list-title">Добавить пациента</div>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="list-form">
      <div class="container">
        <div class="list-search">
          <div class="row align-items-center">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="fName">Имя:</label>
                <input class="form-control mt-2" type="text" id="fName" formControlName="firstName">
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="lName">Фамилия:</label>
                <input class="form-control mt-2" type="text" id="lName" formControlName="lastName">
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="filterName"></label>
                <input class="form-control mt-2" type="submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="list-header">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="list-title">Список пациентов</div>
      <div class="list-count">{{ patients.length }}</div>
    </div>
  </div>
  <div class="list-form">
    <div class="container">
      <div class="list-search">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="filterName">Имя:</label>
              <input class="form-control mt-2" type="text" id="filterName">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="filterDate">ID</label>
              <input class="form-control mt-2" type="text" id="filterDate">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="patients.length; else loading">
    <div class="patient row" *ngFor="let p of patients">
      <div class="col-12 col-lg-6">
        <div class="name">
          <div *ngIf="p.firstname; else name">{{ p.firstname }} {{ p.lastname }}</div>
          <ng-template #name>{{p.patient_name}}</ng-template>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="description">{{p.id}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader" *ngIf="loader"></div>
  <div *ngIf="!loader && !patients.length">
    <h1 class="text-white text-center py-5">Нет пациентов</h1>
  </div>
</ng-template>
