@import "~bootstrap/scss/bootstrap";
@import "~normalize.css";

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

.h-30 {
  height: 33.33%;
}

.h-50 {
  height: 50%
}

.vh-50 {
  height: calc(50vh - 60px);
}

.img-border {
  border: 1px solid #9ccef9;
}

.fs-10 {
  font-size: 10px;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/spinner.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}



.main {
  font-family: 'Roboto-Light', sans-serif;
  background-color: #0e0e0e;
  min-height: 100vh;
}

.list-header {
  color: #6394b2;
  background-color: #151a1f;
  padding: 1rem 0;
  border-bottom: 2px solid #0e0e0e;
}

.list-title {
  font-size: 26px;
}

.list-count {
  font-size: 40px;
}

.list-form {
  background-color: #151a1f;
  border-bottom: 1px solid #5283a1;
  color: #ffffff;
}

.form-control:hover {
  cursor: pointer;
}

.list-search {
  padding: 1rem 0 2rem;
  .form-control {
    background-color: #2c363f;
    border: none;
    color: #ffffff;
    font-size: 14px;
  }
}

.patient {
  padding: 1rem 0;
  background-color: #151a1f;
  color: #ffffff;
  border: 1px solid #5283a1;
}

.patient:hover {
  background-color: #2c363f;
  cursor: pointer;
}

